<section class="title">
    <h1>
      {{ board_title }}
    </h1>
</section>

<section class="thread" *ngFor="let thread of threads">
  <div class="buttons">
    <button id="report-thread" (click)="reportThread(thread.id)">REPORT</button>
    <button id="delete-thread" (click)="toggleDeleteModal('thread', thread.id, null)">DELETE</button>
  </div>
  <h1>{{ thread.text }}</h1>
  <section class="reply" *ngFor="let reply of replies">
    <ng-container *ngIf="reply.thread_id === thread.id">
      <div class="buttons">
        <button id="report-reply" (click)="reportReply(reply, thread.id)">REPORT</button>
        <button id="delete-reply" (click)="toggleDeleteModal('reply')">DELETE</button>
      </div>
      <p>{{ reply.text }}</p>
      <h2><strong>Reported:</strong> {{ reply.reported || false }}</h2>
    </ng-container>
  </section>
  <div class="new-reply">
    <input placeholder="Write a reply" (keyup)="handleNewReplyTitle($event)" [value]="newReplyTitle" />
    <img src="../../assets/arrow-right.png" (click)="createReply(thread.id)" />
  </div>
  <h3><strong>Reported:</strong> {{ thread.reported || false }}</h3>
</section>

<button class="create" (click)="toggleCreationModal()" [ngStyle]="isCreateButtonActiveStyle">
  <img src="../../assets/add.png" />
</button>
  
<div class="creation-background" [ngStyle]="isModalActiveStyle">
  <section class="creation-menu">
    <h1>New thread</h1>
    <input placeholder="Thread name" type="text" (keyup)="handleNewThreadTitle($event)" [value]="newThreadTitle"/>
    <input placeholder="Delete password" type="password" (keyup)="handleNewThreadPassword($event)" [value]="newThreadPassword"/>
    <div class="button-container">
      <button class="close-button" (click)="toggleCreationModal()">CLOSE</button>
      <button class="create-button" (click)="createThread()">CREATE</button>
    </div>
  </section>
</div>

<div class="creation-background" [ngStyle]="isDeleteModalActiveStyle">
  <section class="creation-menu">
    <h1>Delete {{ deleteOptions.type }}</h1>
    <input placeholder="Delete password" type="password" (keyup)="handleDeletePassword($event)" [value]="deleteOptions.delete_password"/>
    <div class="button-container">
      <button class="close-button" (click)="toggleDeleteModal()">CLOSE</button>
      <button class="create-button" (click)="delete()">DELETE</button>
    </div>
  </section>
</div>