@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

body { 
    margin: 0;
    padding: 0;
    width: 100vw;
    height: auto;
    text-align: center;
    display: inline-block !important;
    background-color: #FFF;
    overflow: hidden !important;
    font-family: 'Roboto Mono', sans-serif !important;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased !important;
}