<div class="dashboard">
  <div class="container">
    <div class="logo">
      <img src="../../assets/hacker.png"/>
      <h1>Anonymous Message Board</h1>
    </div>
  </div>
</div>

<input class="search" placeholder="Search board" />

<section class="board">
  <h1>How do you feel about it?</h1>
  <section>
    <strong>BOARD</strong>
    <h2>17/07/2019</h2>
  </section>
</section>
<section class="board">
  <h1>What about the weather today?</h1>
  <section>
    <strong>BOARD</strong>
    <h2>19/06/2019</h2>
  </section>
</section>
<section class="board">
  <h1>Do you like the anonymous board?</h1>
  <section>
    <strong>BOARD</strong>
    <h2>18/07/2018</h2>
  </section>
</section>
<section class="board">
  <h1>What do you think would be good to improve this site?</h1>
  <section>
    <strong>BOARD</strong>
    <h2>21/05/2018</h2>
  </section>
</section>

<button class="create">
  <img src="../../assets/add.png" />
</button>

<div class="creation-background">
  <section class="creation-menu">
    <h1>New board</h1>
    <input placeholder="Board name" />
    <div class="button-container">
      <button class="close-button">CLOSE</button>
      <button class="create-button">CREATE</button>
    </div>
  </section>
</div>