.dashboard {
    filter: drop-shadow(0px 5px 0px rgba(0, 0, 0, 0.3));
    position: absolute;
    z-index: -1;

    .container {
        height: 300px;
        width: 100vw;
        clip-path: polygon(
            100% 0,
            0 0,
            0 100%,
            100% 70%
        );
        background-color: black;
        display: flex;
    
        .logo {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 50px auto auto auto;
        
            img {
                width: 100px;
                height: 100px;
                margin-right: 30px;
            }
        
            h1 {
                font-size: 25px;
                text-align: left;
                color: white;
                letter-spacing: 5px;
                width: 175px;
            }
        }
    }
}

.search{
    margin: 240px auto auto auto;
    border-width: 0px;
    border-radius: 5px;
    outline: none;
    height: 35px;
    width: 300px;
    padding-left: 15px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}