<div class="dashboard">
  <div class="container">
    <div class="logo">
      <img src="../../assets/hacker.png"/>
      <h1>Anonymous Message Board</h1>
    </div>
  </div>
</div>

<input class="search" placeholder="Search board" (keyup)="search($event)"/>

<section class="board" *ngFor="let board of boards">
  <h1>{{ board.title }}</h1>
  <section>
    <strong>#{{ board.id }}</strong>
    <h2>{{ board.created_at | date:'dd/MM/yyyy'}}</h2>
  </section>
</section>

<button class="create" (click)="toggleCreationModal()" [ngStyle]="isCreateButtonActiveStyle">
  <img src="../../assets/add.png" />
</button>

<div class="creation-background" [ngStyle]="isModalActiveStyle">
  <section class="creation-menu">
    <h1>New board</h1>
    <input placeholder="Board name" />
    <div class="button-container">
      <button class="close-button" (click)="toggleCreationModal()">CLOSE</button>
      <button class="create-button">CREATE</button>
    </div>
  </section>
</div>